body {
  font-family: sans-serif;
  background-color: #315481;
  background-image: linear-gradient(to bottom, #315481, #918e82 100%);
  background-attachment: fixed;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;

  font-size: 14px;
}

.container {
  max-width: 900px;
  margin:  auto;
  min-height: 100%;
  background: white;
}

header {
  max-width: 600 px;
  background: #d2edf4;
  background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
  padding: 20px 15px 15px 15px;
  position: relative;
}

#login-buttons {
  display: block;
}

h1 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}

form {
  margin-top: 20px;
  margin-bottom: -10px;
  position: relative;
}

.new-task input {
  box-sizing: border-box;
  padding: 10px 0;
  background: transparent;
  border: none;
  width: 100%;
  padding-right: 80px;
  font-size: 1em;
}

.new-task input:focus{
  outline: 0;
}

ul {
  margin: 0;
  padding: 0;
  background: white;
}

.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}

li {
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom: #eee solid 1px;
}

li .text {
  margin-left: 10px;
}

li.checked {
  color: #888;
}

li.checked .text {
  text-decoration: line-through;
}

li.private {
  background: #eee;
  border-color: #ddd;
}

header .hide-completed {
  float: right;
}

.toggle-private {
  margin-left: 5px;
}

@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }

  .search {
    width: 150px;
    clear: both;
  }

  .new-task input {
    padding-bottom: 5px;
  }
}
.answers li { 
list-style: upper-alpha; 
} 

label { 
margin-left: 0.5em; 
cursor: pointer; 
} 

#results { 
background: #dddada; 
color: 000000; 
padding: 3px; 
text-align: center; 
width: 120px; 
cursor: pointer; 
border: 1px solid gray; 
}

#results:hover { 
background: #3d91b8; 
color: #ffffff; 
padding: 3px; 
text-align: center; 
width: 120px; 
cursor: pointer; 
border: 1px solid gray; 
} 

#categorylist { 
margin-top: 6px; 
display: none; 
} 

#category1, #category2, #category3, #category4, #category5, #category6, #category7, #category8, #category9, #category10, #category11 { 
display: none; 
}

#closing {
display: none;
font-style: italic;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    border-radius: :5px;
}
th, td {
    padding: 15px;
} 

.gameroom{
   height:500px;
   width:600px;
   border-color:black;
   border-style:solid;
   border-width:3px;
   margin: auto;
   border-radius: 5px;
}

.scoreboard{
  height:600px;
  width:340px;
  border-style:solid;
  border-width: 3px;
  border-color: white;
  border-radius: 5px;
  

  float: left;
  display: inline-block;
}
img{
  height: 439px;
  width:590px;
}

.make{
  margin: auto;
}
#gameOption {
    border-collapse: separate;
    border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 5px;
    background-color: #FDBE85;
    height: 30px;

}
#gameTools{
  border: 0px;
  
}

.scoreboard1{
  display: inline-block;
  border-color: white;
  border-collapse: separate;
    border-radius: 0px;
    
    padding: 0px;
    background-color: black;
    margin: auto;
  
}
#gameOption1 {
    
    height: 20px;
    width: 70px;
    background-color: white;
    display: inline-block;
}
#blackout{
  height:4px;
  width: 300px;
  background-color: white;
  display: inline-block;

}

#scoreboard2{
  height:300px;
  width:350px;
  border-style:solid;
  border-width: 3px;
  border-color: black;
  border-radius: 5px;
  margin: auto;
  border-color: black;
  display: inline-block;
  border-color: white;
  background-color: white;
  


}
.scoreboard3{
  height:326px;
  width:130px;
  border-style:solid;
  border-width: 3px;
  border-color: white;
  border-radius: 5px;
  margin: auto;
  border-color: black;
  display: inline-block;
  float: right;
}

#myform{
  height: 100px;
  width: :300px;
  border-color: black;
  background-color: black;
}
.new{
  height: 30px;
  width:124px;
  border-color: black;
  display: inline-block;
}
.new1{
  height: 2px;
  width:124px;
  background-color: black;
}
#blackout1{
  height:85px;
  width: 300px;
  background-color: white;
  display: inline-block;

}
#gameOption2 {
    
    height: 20px;
    width: 100px;
    background-color: white;
    display: inline-block;
}
